<div class="bg-card border border-border shadow-card rounded-2xl p-5">
  <div class="flex justify-between items-center mb-3">
    <h2 class="font-semibold text-zinc-800">Transações recentes</h2>
    @if (showButton()) {
      <button
        (click)="buttonClick.emit()"
        class="flex gap-1 items-center text-sm font-semibold text-violet-700 transition hover:text-violet-500 hover:border-b hover:border-b-violet-500"
      >
        <span>Ver todas</span>
        <lucide-icon [img]="MoveRight" class="w-4 h-4"></lucide-icon>
      </button>
    }
    @if (showButtonExportar()) {
      <button
        class="flex h-9 items-center gap-2 rounded-xl border border-border bg-card px-3 text-xs font-medium text-muted-foreground hover:text-foreground"
      >
        <lucide-icon [img]="Upload" class="w-4 h-4"></lucide-icon>
        <span>Exportar</span>
      </button>
    }
  </div>

  <!-- Cards -->
  <div class="space-y-4 pt-3">
    @for (transaction of transactions; track transaction.title) {
      <div class="flex items-center gap-4 rounded-xl bg-secondary/50 px-4 py-3 hover:bg-secondary">
        <!-- ICON -->
        <div
          class="flex h-10 w-10 items-center justify-center rounded-xl"
          [ngClass]="{
            'bg-success/10 text-success': transaction.type === 'income',

            'bg-expense/10 text-expense': transaction.type === 'expense',
          }"
        >
          <lucide-angular [img]="transaction.icon" class="h-4 w-4" />
        </div>

        <!-- INFO -->
        <div class="flex-1 min-w-0">
          <h3 class="text-sm font-medium">
            {{ transaction.title }}
          </h3>

          <p class="text-xs text-muted-foreground">
            {{ transaction.category }} • {{ transaction.date }}
          </p>
        </div>

        <!-- AMOUNT -->
        <div
          class="flex items-center gap-1 font-bold"
          [ngClass]="{
            'text-green-700': transaction.type === 'income',
            'text-red-500': transaction.type === 'expense',
          }"
        >
          <lucide-angular
            [img]="transaction.type === 'income' ? ArrowDownLeft : ArrowUpRight"
            class="h-4 w-4"
          />
          <span class="text-sm font-semibold"> {{ formatCurrency(transaction.amount) }}</span>
        </div>
      </div>
    }
  </div>
</div>
