<div class="min-w-0 h-full w-full bg-white rounded-3xl p-6 shadow-sm border border-border">
  <h2 class="font-semibold pb-5">Gastos por categoria</h2>

  <div class="w-full h-full items-center justify-center flex py-5">
    <!-- GRÁFICO -->
    <apx-chart
      [series]="chartSeries"
      [chart]="chartDetails"
      [labels]="chartLabels"
      [colors]="chartColors"
      [plotOptions]="plotOptions"
      [dataLabels]="dataLabels"
      [legend]="legend"
    >
    </apx-chart>
  </div>
</div>
